workflows/1IlbUDzvmhy5RpP3.json
{
  "active": true,
  "connections": {
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Gửi tin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail đánh dấu đã đọc": {
      "main": [
        [
          {
            "node": "Set nội dung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lên lịch": {
      "main": [
        [
          {
            "node": "Đọc mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc mail": {
      "main": [
        [
          {
            "node": "Gmail đánh dấu đã đọc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set nội dung": {
      "main": [
        [
          {
            "node": "Nối nội dung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nối nội dung": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-16T02:55:37.488Z",
  "id": "1IlbUDzvmhy5RpP3",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "tổng hợp mail",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nói ý chính của các email {{ $json.concatenated_Email }} chỉ cần viết người gửi và nội dung. ví dụ: \"Heygen: mail này muốn nói là....\"",
        "messages": {
          "messageValues": [
            {
              "message": "đầu ra là một chuỗi ký tự \nbỏ qua ký tự dạng markdown như *\ngạch đầu dòng \"-\" mỗi người gửi"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1100,
        20
      ],
      "id": "1956213e-2a07-43e7-adbe-ea0828dc0f9e",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1100,
        180
      ],
      "id": "6784389a-f003-4a0b-9fb1-42d566e39c6c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "2ZCIwe2zVXFxCSmA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        420,
        0
      ],
      "id": "6e7539c7-0fd5-446e-b9d4-a3ac838ce7bb",
      "name": "Gmail đánh dấu đã đọc",
      "webhookId": "33f3fc48-ea29-4890-82b0-423b09450013",
      "credentials": {
        "gmailOAuth2": {
          "id": "tDNGbPFkruiHbXHA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "04482003-d8d5-40e7-ab0c-3bd561578005",
      "name": "Lên lịch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        200,
        60
      ],
      "id": "2a231128-34d3-40d6-a1e0-5071547cd0b0",
      "name": "Đọc mail",
      "webhookId": "cc23b690-e13d-4a6e-b3bd-2c084542f3f4",
      "credentials": {
        "gmailOAuth2": {
          "id": "tDNGbPFkruiHbXHA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa7ce7db-8522-49b2-a31f-bc8cfc3741c2",
              "name": "Email",
              "value": "=📬{{ $('Đọc mail').item.json.Subject }}: {{ $('Đọc mail').item.json.snippet }}\n=> From: {{ $('Đọc mail').item.json.From }}\n--------------------------------\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "db31ce42-7359-4743-bd28-0df173312249",
      "name": "Set nội dung"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "Email",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        900,
        40
      ],
      "id": "84aaddc2-6f89-4d7c-9bd7-72507e12e808",
      "name": "Nối nội dung"
    },
    {
      "parameters": {
        "chatId": "6835291187",
        "text": "=Emai hôm nay:\n{{ $('Nối nội dung').item.json.concatenated_Email }}\n\nÝ chính: \n{{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1420,
        80
      ],
      "id": "d57f0873-d37f-46ea-a8ed-d55c7fb1d073",
      "name": "Gửi tin",
      "webhookId": "59c96978-dc8a-4e1e-8827-b03cd7e1b63a",
      "credentials": {
        "telegramApi": {
          "id": "SxUsQzeBAKHUGR6h",
          "name": "Telegram N8N"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Lên lịch": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-22T01:32:58.000Z",
  "versionId": "2384fedf-b18b-42f4-bded-53f4c5cd2ec0"
}