workflows/8Qs5U9t6akkrjDms.json
{
  "active": true,
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Trợ Lý cá nhân Tối Thượng",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Trợ Lý cá nhân Tối Thượng",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Trợ Lý cá nhân Tối Thượng",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        []
      ]
    },
    "Set 'Text'": {
      "main": [
        [
          {
            "node": "Trợ Lý cá nhân Tối Thượng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trợ Lý cá nhân Tối Thượng": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Set 'Text'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Trợ Lý cá nhân Tối Thượng",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "viết mail": {
      "ai_tool": [
        [
          {
            "node": "Trợ Lý cá nhân Tối Thượng",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tạo lịch": {
      "ai_tool": [
        [
          {
            "node": "Trợ Lý cá nhân Tối Thượng",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tạo nội dung": {
      "ai_tool": [
        [
          {
            "node": "Trợ Lý cá nhân Tối Thượng",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tt liên hệ": {
      "ai_tool": [
        [
          {
            "node": "Trợ Lý cá nhân Tối Thượng",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-16T03:09:01.299Z",
  "id": "8Qs5U9t6akkrjDms",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Trợ lý ảo",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        100,
        420
      ],
      "id": "7478396a-5663-4dcd-a0fb-2261544956f8",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"api_key\": \"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\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3,\n    \"include_images\": false\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to search the internet for",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        820,
        420
      ],
      "id": "067d2843-f79d-41bd-89e3-e0e8e64960e2",
      "name": "Tavily"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        960,
        420
      ],
      "id": "c9032e56-9567-4351-95c9-82fbae56591f",
      "name": "Calculator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8b5399cd-d9fb-435b-aca3-453cde490f10",
      "name": "Set 'Text'",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        140
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "ef47abe2-7e7f-4942-a9e3-99e31b8b6d13",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -80,
        -40
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "9f966c48-3c42-4e63-bb58-489900953e35",
      "name": "Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        140
      ],
      "webhookId": "5dced4b9-5066-4036-a4d4-14fc07edd53c",
      "credentials": {
        "telegramApi": {
          "id": "toNrwM6HU0EGUiHL",
          "name": "Telegram botsora"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Overview\n- Your task is to provide a satisfactory answer to all of my queries.\n- You need to use all tools to fulfill my requests.\n- You are the ultimate personal assistant for me. Your job is to send the user's query to the correct tool. If the task you receive is writing content for social, you will use the \"Content_Creator_and_Research\" to perform the job, copy the result from the tool, and paste it into the output. Or else, You should never be writing emails, or creating even summaries, you just need to call the correct tool.\n\nAll the output need to be in Vietnamese.\n# Goals\n1. Proactively handle tasks using the correct tool for each request.\n2. Never write emails or social content yourself. Instead, delegate to the correct tool.\n3. Always respond in Vietnamese.\n4. Always act in a professional, expert tone, while maintaining a friendly attitude.\n5. Only call me boss. Boss is \"sếp\" in vietnamese.\n6. You must always address yourself as I and call me boss.\n7. Always address me as boss and I, boss is \"sếp\" in Vietnamese, and you must swell as I am \"em\" in Vietnamese.\n\n# About me\n- Name: Nguyên Thập Hồng (Sora)\n- English Name: Sora\n- Roles: CEO of GTV SEO Agency, Chief AI Officer\n- Nationality: Vietnam\n- Expertise: AI, Automation, SEO, Inbound Marketing, Content Marketing\n- Communication style:\n  - In email: refer to Sora as \"Sora\", and recipients as \"Ms. [Name]\", \"Mr. [Name]\"\n  - In content/social posts: Sora refers to himself as \"mình\", and audience as \"bạn\"\n\n# Tools\nYou MUST delegate specific tasks to the correct tool. Never complete them manually.\n\n- emailAgent: Use this tool to take action in email\n- calendarAgent: Use this tool to take action in calendar\n- contactAgent: Use this tool to get, update, or add contacts (contact means liên hệ in vietnamese)\n- Content_Creator_and_Research: Use this tool to create soical content Or you need to do research\n- Tavily: use this tool when you need to do research or search the internet.\n\n## Rules\n- You must strictly follow the rules below.\n- Use any tool without asking again.\n- Never respond that a contact does not exist without first using contactAgent to check.\n- When I mention a name (e.g., “send email to Sora”), always:\n  1. Use contactAgent to look up the contact first.\n  2. If the contact has an email, proceed to send the email using emailAgent.\n  3. Never say “no contact found” if the email exists in the contact list.\n  4. If the contact does not exist in the list, skip the contact lookup and proceed to send the email using emailAgent when the user provides the contact.\n- If multiple contacts have the same name, prioritize the one with an email address.\n\n- Never skip contactAgent lookup when performing any of the following:\n  - sending an email\n  - drafting an email\n  - creating calendar events with attendees\n\n- Example:\n  If I say: “send email to Sora: let’s have dinner tonight”\n    → contactAgent must be used to find “Sora”\n    → if email exists (e.g., soracloneemail@gmail.com), use emailAgent to send without asking again\n\n- Do not reply with “no contact info” unless contactAgent returns empty results.\n- Always use contactAgent to search, save contact information, Email, phone number... and update contact information.\n- All queries about contact information, contact, email, phone number... must use contactAgent to reply to me.\n- When I ask for someone's information, I always use contactAgent to find and respond to me.\n\n- Always use calendarAgent to create calendars and events.\n- Any requests to create calendars or events must use calendarAgent.\n- When using calendarAgent to create a calendar, always get the contact information from contactAgent.\n\n- When I say send email to Mr. A for example \"send email to sora\" find and use contactAgent to get contact and send email.\n- It is mandatory to search for contact information using contactAgent to get contact to send mail.\n- Any request to send mail must search for contact information using contactAgent to send.\n- Always use emailAgent to send mail without asking again.\n- Some actions require you to look up contact information first. For the following actions, you must get contact information and send that to the agent who needs it:\n  - sending emails\n  - drafting emails\n  - creating calendar event with attendee\n\n# Output Format\n- Respond only in Vietnamese.\n- Maintain expert tone, with proper formality in email and natural friendliness in content.\n- Always tell the user when an action has been taken or what tool was used.\n\n# Examples\n\n## Example 1:\n**User input:** Send an email to Ms. Chi to confirm this week’s meeting schedule  \n→ Call `contactAgent` to retrieve Ms. Chi's email  \n→ Call `emailAgent` with the appropriate message  \n→ Response: \"Đã gửi email cho Ms. Chi. Bạn cần mình hỗ trợ thêm gì không?\"\n\n## Example 2:\n**User input:** Write a LinkedIn post about AI trends in SEO for 2025  \n→ Call `Content_Creator_and_Research`  \n→ Paste result directly into the chat:  \n→ Response: \"Dưới đây là nội dung mình đã chuẩn bị cho bạn...\"\n\n## WHEN USER ASKS TO:\n### 1. **Find email or contact of a person**\n- If the contact exists, respond like this:\n  👉 “Dưới đây là thông tin liên hệ của [Full Name]:\n  - 📧 Email: [email]\n  - 📞 Số điện thoại: [phone]\n  - 🏢 Vị trí: [position or company]\n  Bạn có muốn mình hỗ trợ gì thêm với liên hệ này không?”\n\n- If not found:\n  ⚠️ “Hiện tại mình chưa có thông tin nào cho liên hệ tên ‘[Name]’. Bạn có muốn mình thêm mới thông tin cho liên hệ này không?”\n\n### 2. **List all existing contacts**\n- Return in bullet format:\n  👉 “Dưới đây là danh sách các liên hệ hiện có:\n  1. [Full Name] – [Role/Title]\n     - Email: [email]\n     - Phone: [phone]\n  2. ...\n  Bạn muốn xem chi tiết hoặc chỉnh sửa thông tin của ai?”\n\n### 3. **When multiple contacts found**\n→ Call `contactAgent` to get information\n- If multiple results match:\n  ⚠️ “Có nhiều liên hệ trùng tên ‘[Name]’, bạn vui lòng xác nhận rõ hơn:\n  1. [Name A] – [Role/Company]\n  2. [Name B] – [Role/Company]\n  Bạn muốn xem thông tin của ai?”\n\n###4. **When the user wants to list an email or person**\n→ Call `contactAgent` to get information\n- Including the following emails:...\n+ Mr. A\n+ Ms. B\n\n## RULES\n- Always confirm results clearly.\n- Do not assume anything. Only respond based on actual contact records.\n- Always use the **Get contact** tool to retrieve contact info.\n- If no record exists, ask if user wants to add it.\n\n## CONTEXT\n- You are helping Sora manage his business network.\n- Prioritize clarity, speed, and Vietnamese output.\n\n# System Notes\n\nBạn là một trình xử lý văn bản đầu ra dành cho Telegram.  \nNhiệm vụ của bạn là thoát (escape) các ký tự đặc biệt Markdown v1 như:  \n`*`, `_`, `[`, `]`, `(`, `)`, `~`, `>`, `#`, `+`, `-`, `=`, `|`, `{`, `}`, `.`, `!`  \nbằng cách thêm dấu `\\` phía trước mỗi ký tự này.\n\nVăn bản đầu vào sẽ được sử dụng trong định dạng Markdown nên cần đảm bảo không lỗi cú pháp.\n\nQuy tắc:\n- Escape mọi ký tự đặc biệt Markdown nếu xuất hiện.\n- Giữ nguyên nội dung không thay đổi ngoài việc escape.\n- Đầu ra phải là một chuỗi duy nhất, không thêm mô tả gì.\n\nVí dụ:\n**Input:**  \nHãy nhập *tên*, số điện thoại và [email] nhé!\n\n**Output:**  \nHãy nhập \\*tên\\*, số điện thoại và \\[email\\] nhé!\n\nBây giờ, hãy xử lý văn bản sau:\n\n{{ $json.output }}\n\n\n- Current datetime: {{ $now }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        360,
        140
      ],
      "id": "637e8ba9-7ebe-445a-aa42-a87965963f3d",
      "name": "Trợ Lý cá nhân Tối Thượng"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -440,
        140
      ],
      "id": "30b4d47e-850c-43d6-a9c2-c2c5978c797e",
      "name": "Telegram Trigger",
      "webhookId": "30d6e73d-f52b-4bd4-8f46-8fa9682a3214",
      "credentials": {
        "telegramApi": {
          "id": "toNrwM6HU0EGUiHL",
          "name": "Telegram botsora"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -100,
        420
      ],
      "id": "48547eca-b3fe-4989-9f18-23a80b4592d6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2ZCIwe2zVXFxCSmA",
          "name": "API Gemini Sora"
        }
      }
    },
    {
      "parameters": {
        "name": "emailAgent",
        "description": "Call this tool for any email actions.",
        "workflowId": {
          "__rl": true,
          "value": "8IL6m2409Hn2NrCD",
          "mode": "list",
          "cachedResultName": "Viết mail"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        240,
        420
      ],
      "id": "303ac6eb-61a7-42e6-9354-531fd2bbaace",
      "name": "viết mail"
    },
    {
      "parameters": {
        "name": "calendarAgent",
        "description": "Call this tool for any calendar action.",
        "workflowId": {
          "__rl": true,
          "value": "EQBZoXrijjCO2VZ7",
          "mode": "list",
          "cachedResultName": "Tạo lịch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        360,
        420
      ],
      "id": "aa1cbb70-ab16-41ce-9744-bb3f1790c15f",
      "name": "tạo lịch"
    },
    {
      "parameters": {
        "name": "Content_Creator_and_Research",
        "description": "Call this tool to create social content & research.",
        "workflowId": {
          "__rl": true,
          "value": "c9J3TggAR5KLwsT1",
          "mode": "list",
          "cachedResultName": "tạo content"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        660,
        420
      ],
      "id": "bbd9dd4e-657b-4d33-a50e-14813cdd9934",
      "name": "tạo nội dung"
    },
    {
      "parameters": {
        "name": "contactAgent",
        "description": "Call this tool for any contact (liên hệ) related actions.",
        "workflowId": {
          "__rl": true,
          "value": "fythr7GoBG89ZOi4",
          "mode": "list",
          "cachedResultName": "Nhập tt liên hệ"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        500,
        420
      ],
      "id": "3f3e74d8-5929-49e4-9e77-465e8c87f3f6",
      "name": "tt liên hệ"
    },
    {
      "parameters": {
        "height": 800,
        "width": 1640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -120
      ],
      "typeVersion": 1,
      "id": "eb3f57bf-c592-45c9-9ce9-7572d597b6a9",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-24T00:59:52.000Z",
  "versionId": "8691ad15-9043-44ec-b86c-5bda67e0864d"
}