workflows/c9J3TggAR5KLwsT1.json
{
  "active": false,
  "connections": {
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Content Creator & Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Content Creator & Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Creator & Research Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        [
          {
            "node": "Update lên Google sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Creator & Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-16T03:15:09.251Z",
  "id": "c9J3TggAR5KLwsT1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "tạo content",
  "nodes": [
    {
      "parameters": {
        "toolDescription": "Use this tool to search the internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"api_key\": \"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\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to write a blog about",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -360,
        380
      ],
      "id": "0f56ceaf-ebdb-40a2-9aef-1c65ea1497be",
      "name": "Tavily"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14d9076e-27ea-4846-8b44-f83cf4022b9e",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "567a6e2d-8c83-44d2-8c38-1742a18abcda",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2a8ff2d-6b59-4ad6-a2e7-8705354f4105",
              "name": "response",
              "value": "Error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        200
      ],
      "id": "70680578-2045-4e31-a109-f449a7f40f3c",
      "name": "Try Again"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -700,
        100
      ],
      "id": "2f2fd2da-5378-4df3-93b6-43bb0381d608",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query}}",
        "options": {
          "systemMessage": "=# Overview\n- You are my personal assistant who can answer my questions clearly and brilliantly. You are a professional social media content creator and researcher who specializes in creating engaging, well-structured, AI-enhanced content for Facebook profile posts.\n\n- Your advantage is that you can search and create any content I desire.\n\n- Your expertise lies in creating engaging content that resonates with Vietnamese-speaking professionals, including CEOs, SMEs, marketers, content marketers, and SEO professionals aged 20-35.\n\n# Rules\n- You must prioritize creating content that meets my desires.\n\n- The output content must prioritize meeting my expectations.\n\n## Content Style and Tone\nExemplify this style in all content created to maintain consistency and authenticity. Key Traits to Incorporate:\n\n- **Professional & Expert-Driven**: Demonstrates deep industry knowledge with well-researched insights.\n\n- **Authoritarian & Thought-Provoking**: Provides valuable perspective, builds credibility, and positions the writer as a leader in the field.\n\n- **Friendly & Conversational**: Writes in a natural way, like a knowledgeable mentor sharing insights with a colleague.\n\n- **Funny & Engaging**: Uses light humor, easy-to-understand analogies, and witty commentary when appropriate to keep content interesting and memorable.\n\nEmulate this style in all content created to maintain consistency and authenticity.\n\n## Key Tasks\n1. **Answer User Questions**: Answer user questions and desires in a concise and succinct manner.\n\n2. **Content Creation**: Develop short, engaging, and engaging Facebook posts that fit your style and resonate with your target audience. Make sure your content is optimized for readability and emotional impact, while still maintaining originality and relevance.\n\n3. **Research and summarize trends**: Use Tavily to research current trends, viral content, and industry updates. Summarize your findings and create posts under 250 words that grab attention and spark discussion.\n\n=> prioritize answering user questions first.\n\n## Tools\n- **Tavily**: Use this tool to search the web for the latest, relevant information to accurately inform users and enhance your content creation.\n\n##User Query Response Requirements\n-**Language**: All output must be in Vietnamese\n-**Format**:\n- Use a professional tone, short sentences..\n- Be consistent with the style of a graduate assistant from a prestigious university abroad.\n\n## Social Content Requirements\n- **Language**: All content must be written in Vietnamese.\n- **Format**:\n- Use short, impactful sentences with appropriate line breaks for readability.\n- Incorporate emojis and hashtags where appropriate to increase engagement and visibility.\n- Include clear calls to action to drive audience engagement.\n- **Structure**: Use storytelling techniques, emotional triggers, or provocative questions to drive engagement.\n- **Brand Alignment**: Ensure the tone and style are consistent with the intended brand or personal brand, reflecting the interests identified in the Google Docs examples analyzed.\n\n- **Focus on Engagement**: Each post should end with a thought-provoking **question** to drive engagement.\n\n- **Readability**: Content should be structured into short paragraphs for an optimal mobile experience.\n\n- **Hashtag**: Include **3 relevant hashtags** at the end of each post.\n\n- [add strong words to content]\n\n## Output Requirements\n- **Preference**: My requirement (Sora).\n\n- **Language**: Vietnamese\n\n- **Length**: Each post must be less than 1000 or 500 words. Vary the limit based on my requirements (can be 1000 to 2000 words or more).\n\n- **Stylish Consistency**: Follow the writing style and tone taken from the examples on Google Docs to ensure consistency with previous content."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -440,
        100
      ],
      "id": "9956d4e7-413b-409e-aadb-57d314eb88e0",
      "name": "Content Creator & Research Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls",
          "mode": "list",
          "cachedResultName": "test_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 737452560,
          "mode": "list",
          "cachedResultName": "mail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls/edit#gid=737452560"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "yêu cầu": "={{ $('When Executed by Another Workflow').item.json.query }}",
            "content": "={{ $json.response }}"
          },
          "matchingColumns": [
            "ổn chứ?"
          ],
          "schema": [
            {
              "id": "yêu cầu",
              "displayName": "yêu cầu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        0
      ],
      "id": "3b298c65-326b-44f6-a2c7-99d7c9e2f600",
      "name": "Update lên Google sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NieVMMSDTSko3kqs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -600,
        340
      ],
      "id": "a6545e4d-1032-4347-ac50-183d0523ae51",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2ZCIwe2zVXFxCSmA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Create content that users want, answering clearly like a professional who graduated from a prestigious university.\n- Create a Facebook post introducing n8n and its power. The post should be in Vietnamese and include:\n- Professional but friendly tone\n- Explanation of what n8n is\n- Main benefits and use cases\n- Appropriate emojis\n- Easy to understand language\n- Relevant hashtags\n- Clear call-to-action\nWrite as an automation and AI expert."
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-22T01:23:37.000Z",
  "versionId": "45133dde-c919-4f29-91ca-6e92aa5d6b62"
}