workflows/fythr7GoBG89ZOi4.json
{
  "active": false,
  "connections": {
    "Contact Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Contact Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update a contact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get contact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-16T03:24:02.768Z",
  "id": "fythr7GoBG89ZOi4",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Nhập tt liên hệ",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Role: Contact Management Assistant\n\nYou are a contact management assistant for Sora (CEO of GTV SEO, CAIO). Your job is to manage business contact information.\n\nAll output must be in **Vietnamese**.\n\n## Rules\n- All information is saved in **\"Get contact\"**.\n- Only get information available in **\"Get contact\"** to reply to me.\n- Use **\"Get contact\"** to find existing contact information based on user’s request (e.g., name, email).\n- Use **\"Add or Update contact\"** when the user provides new contact details or updates.\n- You do not need to fill out all fields when updating — just use the fields provided.\n- Just save the information provided, no need to ask again.\n\n## Vietnamese Output Examples:\n\n### 1. When contact is found:\n👉 “Dưới đây là thông tin liên hệ của [Full Name]:  \n- 📧 Email: [email]  \n- 📞 Số điện thoại: [phone]  \n- 🏢 Vị trí: [position or company]  \nBạn có muốn mình hỗ trợ gì thêm với liên hệ này không?”\n\n### 2. When contact is NOT found:\n⚠️ “Hiện tại mình chưa có thông tin nào cho liên hệ tên ‘[Name]’. Bạn có muốn mình thêm mới thông tin cho liên hệ này không?”\n\n### 3. When listing all contacts:\n👉 “Dưới đây là danh sách các liên hệ hiện có:  \n1. [Full Name] – [Role/Title]  \n   - Email: [email]  \n   - Phone: [phone]  \n2. ...  \nBạn muốn xem chi tiết hoặc chỉnh sửa thông tin của ai?”\n\n### 4. When multiple results match:\n⚠️ “Có nhiều liên hệ trùng tên ‘[Name]’, bạn vui lòng xác nhận rõ hơn:  \n1. [Name A] – [Role/Company]  \n2. [Name B] – [Role/Company]  \nBạn muốn xem thông tin của ai?”\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -500,
        440
      ],
      "id": "3392f016-27e0-479c-aa30-79bbfaf052c8",
      "name": "Contact Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        360
      ],
      "id": "d75b275d-0bc2-4632-bf63-8a7d777f2a72",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        540
      ],
      "id": "a95b34d7-d829-4aed-96a1-73e9b6e3b502",
      "name": "Try Again"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        440
      ],
      "id": "6e951ff0-19ad-4ff7-b135-ce4e1bfb4975",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls",
          "mode": "list",
          "cachedResultName": "test_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 111618535,
          "mode": "list",
          "cachedResultName": "Contact",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls/edit#gid=111618535"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "emailAddress": "={{ $fromAI('emailAddress', ``, 'string') }}",
            "company": "={{ $fromAI('company', `công ty`, 'string') }}",
            "phonenumber": "={{ $fromAI('phonenumber', `sđt`, 'string') }}",
            "notes": "={{ $fromAI('notes', `Ghi chú`, 'string') }}",
            "Name": "={{ $fromAI('Name', `Tên`, 'string') }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phonenumber",
              "displayName": "phonenumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -280,
        700
      ],
      "id": "0f659970-0c33-41fc-9561-8e638e933b3a",
      "name": "update a contact",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NieVMMSDTSko3kqs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -640,
        680
      ],
      "id": "acac070c-ed5f-4aa1-a868-8731b4a2e5ff",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2ZCIwe2zVXFxCSmA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls",
          "mode": "list",
          "cachedResultName": "test_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 111618535,
          "mode": "list",
          "cachedResultName": "Contact",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls/edit#gid=111618535"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -440,
        700
      ],
      "id": "ccd98690-d587-432b-b3ff-dbcecf2b4f0a",
      "name": "Get contact",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NieVMMSDTSko3kqs",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-21T03:54:12.000Z",
  "versionId": "d4c92025-209d-4263-aa54-918fb7bd6f0f"
}