workflows/fythr7GoBG89ZOi4.json
{
  "active": false,
  "connections": {
    "Contact Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Contact Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get contact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update a contact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-16T03:24:02.768Z",
  "id": "fythr7GoBG89ZOi4",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Nhập tt liên hệ",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a contact management assistant. Your responsibilities include looking up contacts, adding new contacts, or updating a contact's information.\n\nwhen you update the conacts,  you don't need to fill out all the information that is in database, just fill out the information that you are given\n\nAll the output need to be in Vietnamese.\n**Contact Management**  \n   - Use \"Get Contacts\" to retrieve contact information. \n   - Use \"Add or Update Contact\" to store new contact information or modify existing entries. \n   - Use \"notes\" when you need to leave some note that corresponding to the contact as the user request."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -520,
        80
      ],
      "id": "6de50ccb-641e-4823-9eb3-1cced77644a8",
      "name": "Contact Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "2e6634db-6dc7-4276-a7ad-f4b2eba86ce4",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        180
      ],
      "id": "7a2fb07a-14a6-417b-95f3-03a0ea4e66f4",
      "name": "Try Again"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -740,
        80
      ],
      "id": "a0d8d709-b1b7-4afb-aba5-322671d410d7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls",
          "mode": "list",
          "cachedResultName": "test_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 111618535,
          "mode": "list",
          "cachedResultName": "Contact",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls/edit#gid=111618535"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Họ và Tên",
              "lookupValue": "={{ $fromAI(\"name\") }}"
            },
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $fromAI(\"emailAdress\") }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -440,
        340
      ],
      "id": "95a19813-384d-49b1-a021-c7a4c58c5b09",
      "name": "Get contact",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NieVMMSDTSko3kqs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls",
          "mode": "list",
          "cachedResultName": "test_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 111618535,
          "mode": "list",
          "cachedResultName": "Contact",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls/edit#gid=111618535"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Họ và Tên": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('H__v__T_n__using_to_match_', ``, 'string') }}",
            "Email": "={{ $fromAI(\"emailAddress\") }}",
            "Công Ty": "={{ $fromAI(\"company\") }}",
            "Số Điện Thoại": "={{ $fromAI(\"phonenumber\") }}",
            "Note": "={{ $fromAI(\"notes\") }}"
          },
          "matchingColumns": [
            "Họ và Tên"
          ],
          "schema": [
            {
              "id": "Họ và Tên",
              "displayName": "Họ và Tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Công Ty",
              "displayName": "Công Ty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số Điện Thoại",
              "displayName": "Số Điện Thoại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -260,
        340
      ],
      "id": "503880be-8ab6-4436-9009-f2a31da9bfd5",
      "name": "update a contact",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NieVMMSDTSko3kqs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -620,
        300
      ],
      "id": "a8c0d5b1-cf00-4f5d-b382-66d8e476a96b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2ZCIwe2zVXFxCSmA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-17T03:21:45.000Z",
  "versionId": "a795d5de-902f-4b5b-a924-1e908c249371"
}