workflows/IWbXJsVwvf7OhJsP.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-23T01:46:32.414Z",
  "id": "IWbXJsVwvf7OhJsP",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -420,
        -80
      ],
      "id": "364d7eca-2940-448e-925b-ad76b7701be3",
      "name": "When chat message received",
      "webhookId": "1fc20468-82ce-416a-8634-0eea69514382"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -200,
        -80
      ],
      "id": "5079e355-6495-45ab-8e09-dd7911562034",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -380,
        180
      ],
      "id": "953293b5-3fd5-496a-9336-117b89f63273",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2ZCIwe2zVXFxCSmA",
          "name": "API Gemini Sora"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -220,
        200
      ],
      "id": "1580e8f4-9d65-4692-a5f8-c87731147e6c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "testeronepro@gmail.com",
          "mode": "list",
          "cachedResultName": "testeronepro@gmail.com"
        },
        "start": "={{ $fromAI('Start') }}",
        "end": "={{ $fromAI('End') }}",
        "additionalFields": {
          "description": "={{ $fromAI('Description') }}",
          "summary": "={{ $fromAI('Summary') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        80,
        180
      ],
      "id": "77d30cdb-c3ca-4120-9971-4807e4959597",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "M46c9cPjRh4cyuNG",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-23T01:50:42.000Z",
  "versionId": "3d44bf6c-b224-4865-9866-aa485e1a9620"
}