workflows/k43MRUnBJdJKN86m.json
{
  "active": false,
  "connections": {
    "tiêu đề": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP hình ảnh": {
      "main": [
        [
          {
            "node": "nhập liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP hình ảnh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-16T03:06:19.904Z",
  "id": "k43MRUnBJdJKN86m",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Lấy ảnh  + nội dung",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls",
          "mode": "list",
          "cachedResultName": "test_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 880717940,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls/edit#gid=880717940"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        40
      ],
      "id": "cef0bd72-0ba1-4688-982f-2dac819f0a9a",
      "name": "tiêu đề",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "rCr3D2oIb3YN9lDq",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.pexels.com/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('If').item.json['chủ đề'] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "yTJARhmg5R1FyhNK2KGdomdR7zko4XsVI0stmIag0WXOOcTbGNkCamqU"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        0
      ],
      "id": "de8ead23-bf3e-476e-b558-f045838b459d",
      "name": "HTTP hình ảnh"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls",
          "mode": "list",
          "cachedResultName": "test_n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 880717940,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls/edit#gid=880717940"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "hình ảnh": "={{ $json.photos[0].url }}",
            "chủ đề": "={{ $('tiêu đề').item.json['chủ đề'] }}",
            "nội dung": "={{ $('AI Agent').item.json.output }}"
          },
          "matchingColumns": [
            "chủ đề"
          ],
          "schema": [
            {
              "id": "chủ đề",
              "displayName": "chủ đề",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nội dung",
              "displayName": "nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hình ảnh",
              "displayName": "hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        280
      ],
      "id": "e64688b0-8679-49f5-abc2-5adfe97df6a3",
      "name": "nhập liệu",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NieVMMSDTSko3kqs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=chủ đề: {{ $json['chủ đề'] }}",
        "options": {
          "systemMessage": "Hãy viết một bài văn nghị luận dài khoảng 100 từ với chủ đề: \"Sự kiên trì là chìa khóa của thành công.\"\n\nBài viết cần có cấu trúc rõ ràng: mở bài nêu vấn đề, thân bài phân tích và dẫn chứng (có thể sử dụng ví dụ thực tế hoặc từ sách báo), kết bài khẳng định lại quan điểm. Văn phong phù hợp với học sinh cấp 3, lập luận mạch lạc, có cảm xúc và dẫn chứng cụ thể."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        0,
        0
      ],
      "id": "2621c7e1-4f8a-4642-8622-26121b46244f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        240
      ],
      "id": "1718a1e4-bfb2-4e23-bf2d-f5889e5c2978",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2ZCIwe2zVXFxCSmA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a0af32a-cda0-4147-aaf8-032483bcd734",
              "leftValue": "={{ $json['nội dung'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        40
      ],
      "id": "1a35149e-eaa3-423b-aee6-0fe1a8d38383",
      "name": "If"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:tiêu đề": {
      "documentId": "170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls",
      "sheetId": 880717940,
      "lastRevision": 482,
      "lastRevisionLink": "https://docs.google.com/spreadsheets/export?id=170JZIC4zFekFbMKHighI9fvYc4DKshp2jY8wA7Ae5ls&revision=482&exportFormat=xlsx"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-17T03:32:40.000Z",
  "versionId": "1edaa0aa-bbab-4075-b0b7-6c0865fb78b9"
}